@font-face {
    font-family: 'Nethub-Nav-Font';
    src: url(./assets/font/DelogsGoesHiTech-rJXp.ttf)
}
@font-face {
    font-family: 'Nethub-Offcanvas-Font';
    src: url(./assets/font/)
}
:root{
    --primary-color: #D962DF;

}


.navbar {
    background-color: var(--primary-color);
}
.navbar-brand{
    color: white;
    font-family: 'Nethub-Nav-Font';
} 
.offcanvas-title{
    font-family: 'Nethub-Nav-font' ;
}
.offcanvas-body{
    font-family: 'Nethub-Offcanvas-Font';
}
.navbar-toggler{
    background-color: white ;
}

.offcanvas-header {
    background-color: var(--primary-color);
    color: white;
}

.offcanvas-body {
    background-color: #9423b331;
}

.nav-link {
    color: var(--primary-color);
}
.dropdown-menu {
    background-color: var(--primary-color);
}

.btn{
    background-color: var(--primary-color);
    color: white;
}
/* End of Nav and offcanva*/

.carousel{
    height: 550px;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    object-fit:cover;
    height: 100%;
} 
.text-carousel-h5{
    font-family:'Nethub-Nav-Font';
    color: white;
}
.text-carousel-p{
    color: var(--primary-color);
}
/* End of carousel*/
.text-uppercase{
    text-shadow: -2px 1px 7px var(--primary-color); 
    font-family: 'Nethub-Nav-Font';
}
/*End About Us Section*/
.mission-vision{
    color: var(--primary-color);
}
/*End offcanvas Mission and Visiom*/


/*    style button          <button class="btn fs-5 py-2 px-4" type="button" style="--bs-primary: #d962df;--bs-success: #d962df;border-color: #d962df;box-shadow: 0px 0px 14px;">Mission</button>
*/